/*  good use of border-box and universal selector  */

* {
    box-sizing: border-box;
}

/* good practice of setting a specific and readable font-size for body */
body {
    font-size: 1em;
}

/* let's try to use kebab-case for classes! :) */
/* changed */
.main-container {
    width: 80%;
}

header {
    margin-bottom: 2em;
}

h1>a {
    font-family: 'arial';
    font-size: 1em;
    font-weight: 600;
    color: #000;
    text-decoration: none;

}

header>a {
    font-family: 'Courier New', monospace;
    font-size: 0.7em;
    font-weight: 600;
    color: #000;
    text-decoration: none;

}

.img1 {
    height: 100%;
    width: 100%;


}


.img2 {
    height: 40%;
    width: 40%;


}

/* as we are setting the same properties for img3 and img2, we can use the same class :) */
/* also when I want to change the position later on? one on the right and the other on the left */

.img3 {
    height: 40%;
    width: 40%;


}

.gallery_image_caption {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* in most of cases the default value of propierties is 0, so you dont have to set it :) */
    /* changed */
    font-size: 0.5rem;
    /* font-weight: 500;
    color: rgba(0, 0, 0, 1);
    these two are the default values for font-weight and color, so you dont have to set them :) */ 
    /* changed */
    font-family: 'Courier New', monospace;
    line-height: 1rem;
}